# Virtual Environment
env/
venv/

# Python
__pycache__/
*.pyc

# Django
db.sqlite3

# Media files
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

.env

# Database backup
data.json
accounts.json
listings.json

staticfiles/